:root {
    --preto-principal: black;
    --azul-primario: #1B1464;
    --azul-secundario: blue;
    --branco-botao: #F5F5F5;
    --cor-de-fundo: white;
    --fonte-principal:'Lato';
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--preto-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}




